html
{
	background-color:#050505;

}
body
{
	margin:auto;
	margin-top:0px;

	background-color:white;	
	width:1010px;
	border: 1px solid #6495ED;
	min-height:1165px;

}
#header
{
	height:50px;
	background-color:white;
	margin:4px;
	position:relative;
	width:992px;
	border-bottom:1px solid #6495ED;
	text-align:bottom;
	margin-top:70px;
}
#header h1
{	
	font-size:28px;
	display:inline;
	padding-left:10px;
	color:black;
	padding-top:20px;
}
#header h3
{
	display:inline;
	float:right;
	font-size:15px;
	padding-right:10px;
}
#header a
{
	text-decoration:none;
	color:#8B7D6B;
}
#header a:hover
{
	color:#A4D3EE;
	border-bottom:1px dotted grey;

}
#content
{
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	padding:0px;
	height:930px;
	position:relative;
	border:1px solid #6495ED;
	font-size:14px;
	background:white;
}
#headerlinks
{
	height:30px;
	color:grey;
	padding-left:10px;
	padding-top:10px;
	font-size:16px;
	background-color:#F0F8FF;
	margin-top:-12px;
	margin-left:-12px;
	margin-right:-12px;
	margin-bottom:12px;
	text-align:left;

}
#headerlinks a
{
	text-decoration:none;
	color:#BA081A;
}
#headerlinks a:hover
{
	text-decoration:none;
	border-bottom:2px solid black ;
}
#heading
{
	
	height:15px;
	font-size:20px;
	text-align:left;
	background-color:white;
	color:maroon;
}
#heading1
{
	
	height:15px;
	font-size:15px;
	text-align:left;
	background-color:white;
	color:green;
}
#rightsidebar
{
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	padding:12px;
	padding-top:20px;
	height:920px;
	position:relative;
	font-size:14px;
	background:#F0DFBE;
	float:right;
	width:170px;
	border-left: 1px solid #C7A317;
}
#rightsidebar a
{
	text-decoration:none;
	color:blue;
}
#rightsidebar a:hover
{
	text-decoration:none;
	border:1px dashed black ;
}
#tab
{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#middlesidebar
{
	margin-top:0px;
	padding-top:5px;
	margin-left:5px;
	padding-left:5px;
	position:relative;
	font-size:14px;
	background:white;
	float:left;
	width:617px;
}
#downsidebar
{
	margin-top:20px;
	margin-left:20px;
	margin-right:10px;
	padding:12px;
	padding-top:50px;
	height:350px;
	position:relative;
	font-size:14px;
	background:#F0F8FF;
	float:left;
	 width:650px;

}
#tp
{
	background-image:url("images/3toneBG.gif");
	height:205px;
	position:relative;
	width:1000px;
	color:white;
	font-size:12px;
	padding:4px;
	padding-top:2px;
}
#tp a
{
	text-decoration:none;
	color:white;
	margin-left:100px;
}
#tp a:hover
{

	text-decoration:none;
	border-bottom:1px solid white;
	margin-left:100px;
	
}
#leftsidebar
{


	
	padding-top:-120px;
	min-height:952px;
	position:relative;
	font-size:14px;
	float:left;
	width:160px;
	background:#F0DFBE;
	border-right: 1px solid #C7A317;
	
}
#leftsidebar a
{
	text-decoration:none;
	color:blue;
}
#leftsidebar a:hover
{
	text-decoration:none;
	border:1px dashed black ;
}
#footer
{	color:white;
	margin-top:0px;
	margin-left:-2px;
	margin-right:0px;
	padding:12px;
	padding-top:5px;
	height:6px;
	border:1px solid black ;
	position:relative;
	font-size:12px;
	background:#C11B17;
	clear:left;
	float:left;
	 width:988px;

}
#container
{
	position:relative;
	font-size:14px;
	background:white;
	clear:left;
	float:left;
	 width:790px;
}

#container_middle1
{
	margin-left:170px;
        height:45px;
	
	text-align:left;
	background-color:white;
	color:maroon;
}

#container_middle2
{
	margin-left:240px;
        height:10px;
	text-align:left;
	background-color:white;
	color:black;
}

#container_middle3
{
	padding-top:40px;
	margin-left:210px;
        height:10px;
	text-align:left;
	background-color:white;
	color:black;
}

#button
{
	margin-left:290px;
        height:10px;
	text-align:left;
	background-color:white;
	color:black;
}


