        #body
	{
		margin-top:10px;
		background-color: white;/*#b8dbe6;*/
		min-height:677px;
		padding:30px;
                margin-right: 150px;
	}

        #personal_info
        {
                height: 230px;
        }

        #profile_pic
	{
		width: 120px;
		height: 120px;
		background-color: white;
                font-size: 10px;
	}
        .name
        {
                font-size: 34px;
                font-weight: bold;
        }
        #status
        {
                font-size: 10px;
                font-weight: bold;
        }
	#info
	{
                margin-left: 200px;
                margin-top: -120px;
		font-family: "Trebuchet MS", Helvetica, sans-serif;
                font-size: 12px;
                /*white-space: pre;*/
	}
        #info table
        {
                padding-top: 10px;
                font-size: 12px;
                width: 400px;
        }
        #info td
        {
                min-width: 150px;
                height: 30px;
                border: none;
        }
        td
        {
                border-top: 1px dotted gray;
        }
        h3
        {
                font-family: "Trebuchet MS", Helvetica, sans-serif;
                font-size: x-large;
        }
        .section
        {
                border-top: 1px dotted gray;
        }
        .title
        {
                width: 200px;
                /*border: 1px dotted gray;*/
                vertical-align: top;
        }
        .section p
        {
                padding-top: 5px;
                font-size: small;
                font-family: "Trebuchet MS", Helvetica, sans-serif;
                width: 480px;
                min-height: 150px;
        }
        .section td
        {
                
        }
        #gender,#g,#dob,#d,#marital_status
        {
                font-family: "Trebuchet MS", Helvetica, sans-serif;
                font-size: 12px;
        }

