
	body
	{

		background: url('images/header_repeat.jpg') repeat-x left top;
	}

	#page
	{
		background-color: white;
		width: 900px;
		margin-top: 20px;
		margin-bottom: 20px;
		margin-left: auto;
		margin-right: auto;
		padding: 10px;
		min-height:800px;
	}

	#header
	{
		background: url('images/dot.gif') repeat-x left bottom;
	}

	#sideline
	{
		text-align: right;
		font-size: 12px;
		font-family: Arial, Helvetica, sans-serif;
	}

	#sideline a
	{
		text-decoration: none;
		color: #1272c1;
	}
	#sideline a:visited
	{
		text-decoration: none;
		color: #1272c1;
	}
	#sideline a:hover
	{
		text-decoration:none;
		font-size: 14px;
		font-style: bold;
		color: #12b2e7;
	}

	#title
	{
		font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
		font-size: 50px;
		padding-left: 20px;
		padding-top: 10px;
	}
	#title a
	{
		text-decoration: none;
		color: black;
	}

	#tagline
	{
		padding-left: 22px;
		font-family: "Trebuchet MS", Helvetica, sans-serif;
		font-size: 13px;
		padding-bottom: 5px;
	}

	#body
	{
		margin-top:10px;
		background-color: #b8dbe6;
		min-height:677px;
		padding: 20px;
	}

	#profile_pic
	{
		width: 100px;
		height: 100px;
		background-color: white;
	}

	div.name
	{
		font-family: "Trebuchet MS", Helvetica, sans-serif;
		color: red;
		font-size: 30px;
		font-weight: bold;		


	#f_name
	{
		width: 100px;
	}


	#login_box
	{
		background-color: #b8dbe6;
		width: 200px;
		margin-left: auto;
		margin-right: auto;
		padding: 80px;
		padding-top: 40px;
		height:294px;
	}
	#login_box table
	{
		font-family: "Trebuchet MS", Helvetica, sans-serif;
	}
	#login_box th
	{
		font-size: 18px;
		padding-bottom: 30px;
		
	}
	#login_box td
	{
		font-size: 14px;
		width: 50px;
	}
	#login_box p
	{
		font-family: "Trebuchet MS", Helvetica, sans-serif;
		padding-top: 8px;
		padding-left: 18px;
	}
	#login_box p a
	{
		font-size: 11px;
		color: #1272c1;
	}
	#login_box p a:hover
	{
		font-size: 10px;
		font-weight: bold;
	}
	#login_box button
	{
		width: 160px;
		margin-top: 15px;
		margin-left: 20px;
		height: 40px;
		background: url('images/blue.gif') repeat-x left top;
		font-family: "Trebuchet MS", Helvetica, sans-serif;
		font-size: 14px;
		color: white;
		border-width: 0px;
	}
	#login_box button:hover
	{
		background: url('images/blue_invert.gif') repeat-x left top;
	}
	#error_login, #error_signup
	{
		font-family: "Trebuchet MS", Helvetica, sans-serif;
		color: red;
		font-size: 10px;
		font-weight: bold;
		text-align: center;
	}

        #popup
        {
                top: 202px; /*202px;*/
                left: 536px; /*536px;*/
                border: 2px solid teal;
                background-color: #b8dbe6;
		width: 200px;
		margin-left: auto;
		margin-right: auto;
		padding: 81px;
                padding-top: 26px;
		height:307px;
                position: fixed;
        }

        #popup button
        {
                width: 160px;
                margin-top: 15px;
		margin-left: 21px;
		height: 40px;
		background: url('images/blue.gif') repeat-x left top;
		font-family: "Trebuchet MS", Helvetica, sans-serif;
		font-size: 14px;
		color: white;
		border-width: 0px;
       	}
	#popup button:hover
	{
		background: url('images/blue_invert.gif') repeat-x left top;
	}
        
        #popup_close
        {
                width:13px;
                height:13px;
                position:relative;
                cursor:pointer;
                background-color: teal;
                left:250px;
                text-align:center;
                top:-15px;
                border: 1px solid red;
        }
