        #resume_body
	{
		margin-top:10px;
		background-color: white;/*#b8dbe6;*/
		min-height:677px;
		padding:30px;
	}

        #personal_info
        {
                height: 230px;
        }

        #profile_pic
	{
		width: 120px;
		height: 120px;
                font-size: 10px;
                float: left;
                padding-left: 40px;
                padding-top: 10px;
	}
        .name
        {
                font-size: 34px;
                font-weight: bold;
        }
        #status
        {
                font-size: 10px;
                font-weight: bold;
        }
	#info
	{
                float: right;
		font-family: Trebuchet MS, Helvetica, sans-serif;
                font-size: 12px;
                /*white-space: pre;*/
	}
        #info table
        {
                padding-top: 10px;
                font-size: 10px;
                width: 300px;
                color: #CC6600;
                
        }
        #info table td
        {
                min-width: 165px;
                height: 30px;
                border: none;
        }
        h3
        {
                font-family: Trebuchet MS, Helvetica, sans-serif;
                font-size: x-large;
        }
        #resume_body td
        {
                border-top: 1px dotted gray;
        }
        .title
        {
                width: 200px;
                /*border: 1px dotted gray;*/
                vertical-align: top;
        }
        .section p
        {
                margin-top: 5px;
                margin-bottom: 5px;
                font-size: small;
                font-family: Trebuchet MS, Helvetica, sans-serif;
                /*border: 1px dotted gray;*/
                width: 480px;
                min-height: 150px;
                text-align: justify;
        }
        #edit_dob
        {
                font-family: Trebuchet MS, Helvetica, sans-serif;
                font-size: 11px;
        }
