        body
	{
/*		background-color: #12b2e7;*/
		background: url('images/header_repeat.jpg') repeat-x left top;
	}

        #page
	{
		background-color: #e6e6e6;
                width: 900px;
		margin-top: 20px;
		margin-bottom: 20px;
		margin-left: auto;
		margin-right: auto;
		padding: 10px;
		min-height:800px;
                position: relative;
	}

	#header
	{
		background: url('images/dot.gif') repeat-x left bottom;
	}

	#sideline
	{
		text-align: right;
		font-size: 12px;
		font-family: Arial, Helvetica, sans-serif;
	}

	#sideline a
	{
		text-decoration: none;
		color: #1272c1;
	}
	#sideline a:visited
	{
		text-decoration: none;
		color: #1272c1;
	}
	#sideline a:hover
	{
		text-decoration:none;
		font-size: 14px;
		font-weight: bold;
		color: #12b2e7;
	}

	#title
	{
		font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
		font-size: 50px;
		padding-left: 20px;
		padding-top: 10px;
	}
	#title a
	{
		text-decoration: none;
		color: black;
	}

	#tagline
	{
		padding-left: 22px;
		font-family: Trebuchet MS, Helvetica, sans-serif;
		font-size: 13px;
		padding-bottom: 5px;
                font-style: italic;
                
	}
        #preview
        {
                position: absolute;
                top: 180px;
                left: 780px;
                font-family: Trebuchet MS, Helvetica, sans-serif;
                font-size: 12px;
                cursor: pointer;
                font-weight: bold;
        }
        #edit
        {
                position: absolute;
                top: 180px;
                left: 860px;
                font-family: Trebuchet MS, Helvetica, sans-serif;
                font-size: 12px;
                cursor: pointer;
                font-weight: bold;
        }
        #pdf
        {
                position: absolute;
                top: 220px;
                left: 860px;
                font-family: Trebuchet MS, Helvetica, sans-serif;
                font-size: 12px;
                font-weight: bold;
        }
        #pdf a
        {
                color: red;
                text-decoration: none;
        }
        #pdf a:visited
        {
                text-decoration: none;
        }
        #pdf a:hover
        {
                text-decoration: underline;
        }
        #new_template
        {
                position: absolute;
                top: 410px;
                left: 860px;
                font-family: Trebuchet MS, Helvetica, sans-serif;
                font-size: 12px;
                font-weight: bold;
                cursor: pointer;
        }
        .share_temp
        {
                position: absolute;
                top: 480px;
                left: 860px;
                font-family: Trebuchet MS, Helvetica, sans-serif;
                font-size: 12px;
                font-weight: bold;
                cursor: pointer;
        }
        .templates
        {
                position: absolute;
                top: 270px;
                left: 860px;
                font-family: Trebuchet MS, Helvetica, sans-serif;
                font-size: 10px;
                font-weight: bold;
                cursor: pointer;
        }
        #remove_template
        {
                position: absolute;
                top: 340px;
                left: 860px;
                font-family: Trebuchet MS, Helvetica, sans-serif;
                font-size: 12px;
                font-weight: bold;
                cursor: pointer;
        }
        #share_template
        {
                position: absolute;
                top: 180px;
                left: 5px;
                width: 60px;
                font-family: Trebuchet MS, Helvetica, sans-serif;
                font-size: 12px;
                font-weight: bold;
                cursor: pointer;
        }
        #design_resume
        {
                position: absolute;
                top: 550px;
                left: 860px;
                font-family: Trebuchet MS, Helvetica, sans-serif;
                font-size: 12px;
                font-weight: bold;
        }
        #design_resume a
        {
                color: red;
                text-decoration: none;
        }
        #design_resume a:visited
        {
                text-decoration: none;
        }
        #design_resume a:hover
        {
                text-decoration: underline;
        }
        #section_view
        {
                position: absolute;
                top: 230px;
                left: 790px;
                font-family: Trebuchet MS, Helvetica, sans-serif;
                font-size: 13px;
                font-weight: bold;
                color: teal;
        }
        .sec_views
        {
                cursor: pointer;
        }
        #share
        {
                position: absolute;
                top: 200px;
                left: 780px;
                font-family: Trebuchet MS, Helvetica, sans-serif;
                font-size: 12px;
        }
        #share span
        {
                font-weight: bold;
                color: brown;
                cursor: pointer;
        }
        #share a
        {
                text-decoration: none;
                color: red;
        }
        #share a:visited
        {
                text-decoration: none;
        }
        #share a:hover
        {
                text-decoration: underline;
        }