html
{
	background-color:#050505;

}
#page_body
{
	margin:auto;
        background-color:white;
	width:1010px;
	/*border: 1px solid #6495ED;*/
}
#header
{
	height:50px;
	background-color:white;
	margin:4px;
	position:relative;
	width:992px;
	border-bottom:1px solid #6495ED;
	vertical-align:bottom;
	margin-top:70px;
}
#header h1
{	
	font-size:28px;
	display:inline;
	padding-left:10px;
	color:black;
	padding-top:20px;
}
#header h3
{
	display:inline;
	float:right;
	font-size:15px;
	padding-right:10px;
}
#header a
{
	text-decoration:none;
	color:#8B7D6B;
}
#header a:hover
{
	color:#A4D3EE;
	border-bottom:1px dotted gray;

}
#content
{
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	padding:0px;
	height:930px;
	position:relative;
	border:1px solid #6495ED;
	font-size:14px;
	background:white;
}
#headerlinks
{
	height:30px;
	color:gray;
	padding-left:10px;
	padding-top:10px;
	font-size:16px;
	background-color:#F0F8FF;
	margin-top:-12px;
	margin-left:-12px;
	margin-right:-12px;
	margin-bottom:12px;
	text-align:left;

}
#headerlinks a
{
	text-decoration:none;
	color:#BA081A;
}
#headerlinks a:hover
{
	text-decoration:none;
	border-bottom:2px solid black ;
}
#heading
{
	
	height:15px;
	font-size:20px;
	text-align:left;
	background-color:white;
	color:maroon;
}
#heading1
{
	
	height:15px;
	font-size:15px;
	text-align:left;
	background-color:white;
	color:green;
}
#rightsidebar
{
	padding:12px;
	padding-top:20px;
	position:relative;
	font-size:14px;
	background:#F0DFBE;
	float:right;
	width:170px;
	border-left: 1px solid #C7A317;
}
#rightsidebar a
{
	text-decoration:none;
	color:blue;
}
#rightsidebar a:hover
{
	text-decoration:none;
	border:1px dashed black ;
}
#tab
{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#middlesidebar
{
	margin-top:0px;
	padding:15px;
	/*margin-left:5px;*/
	position:relative;
	font-size:14px;
	background:white;
	float:left;
	width:604px;
}
#downsidebar
{
	margin-top:20px;
	margin-left:20px;
	margin-right:10px;
	padding:12px;
	padding-top:50px;
	height:350px;
	position:relative;
	font-size:14px;
	background:#F0F8FF;
	float:left;
	 width:650px;

}
#tp
{
	background-image: url("images/3toneBG.gif");
	height:205px;
	position:relative;
	width:1002px;
	color:white;
	font-size:12px;
	padding:4px;
	padding-top:2px;
}
#tp a
{
	text-decoration:none;
	color:white;
        margin-left: 30px;
        margin-right: 30px;
}
#tp a:hover
{

	text-decoration:none;
	border-bottom:1px solid white;
}
#leftsidebar
{
        /*padding-top: -120px;*/
	min-height:1368px;
	position:relative;
	font-size:14px;
	float:left;
	width:160px;
	background:#F0DFBE;
	border-right: 1px solid #C7A317;
	padding: 10px;
}
#leftsidebar a
{
	text-decoration:none;
	color:blue;
}
#leftsidebar a:hover
{
	text-decoration:none;
	border:1px dashed black ;
}
#footer
{	color:white;
	margin-top:0px;
	margin-left:-2px;
	margin-right:0px;
	padding:12px;
	padding-top:5px;
	height:6px;
	border:1px solid black ;
	position:relative;
	font-size:12px;
	background:#C11B17;
	clear:left;
	float:left;
	width:988px;

}
#container
{
	position:relative;
	font-size:14px;
	background:white;
	clear:left;
	float:left;
	width:815px;
}

#container_middle1
{
	margin-left:170px;
        height:45px;
	
	text-align:left;
	background-color:white;
	color:maroon;
}

#container_middle2
{
	margin-left:240px;
        height:10px;
	text-align:left;
	background-color:white;
	color:black;
}

#container_middle3
{
	padding-top:1px;
	height:10px;
	text-align: center;
	background-color:white;
	color:black;
}

#login_button
{
	width: 102px;
    	height: 52px;
	text-align:left;      
	background: url('images/submitt.png') ;
	color:white;
	border-width: 0px;
}
#head_popups
{
        position: absolute;
        top:40px;
        width: 1000px;
}
#headpopup1,#headpopup2,#headpopup3,#headpopup4
{
        position: relative;
        display: none;
        background-color: #F0DFBE;
        border:2px solid maroon;
        font-size: 10px;
        padding:10px;
        width: 226px;
}
#popup
{
        border: 2px solid maroon;
        background-color: #F0DFBE;
        width: 150px;
        padding: 81px;
        padding-top: 26px;
        height:220px;
        position: fixed;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        margin: auto;
}

#popup button
{
        width: 100px;
        margin-top: 15px;
        margin-left: 21px;
        height: 52px;
        background: url('images/submitt.png') ;
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        font-size: 14px;
        color: white;
        border-width: 0px;
}
#popup button:hover
{
        background: url('images/submitt.png') ;
}

#popup_close
{
        width:16px;
        height:16px;
        position:relative;
        cursor:pointer;
        background: url('images/cancel.png');
        left:210px;
        text-align:center;
        top:-15px;
}

#error_login, #error_signup
{
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        color: red;
        font-size: 10px;
        font-weight: bold;
        text-align: center;
}


#preview,#preview_edit
{       
        color:maroon;
        font-family: Trebuchet MS, Helvetica, sans-serif;
        font-size: 13px;
        font-weight: bold;
        cursor: pointer;
        padding: 10px;
}
#preview_pdf
{
        font-family: Trebuchet MS, Helvetica, sans-serif;
	color:#330033;
        padding: 10px;
}
#preview_pdf a
{
        color:#330033;
        text-decoration: none;
}
#preview_pdf a:visited
{
        text-decoration: none;
}
#preview_pdf a:hover
{
        text-decoration: underline;
        border: none;
}
#preview_new_template,#preview_design_resume,.preview_share_temp
{
        color:#330033;
        font-family: Trebuchet MS, Helvetica, sans-serif;
        font-size: 13px;
        cursor: pointer;
        padding: 10px;
}
#preview_new_template,#preview_design_resume,.preview_share_temp a:hover
{
	color:#330033;
        text-decoration:none;
        padding: 10px;
}


.preview_templates
{
        font-family: Trebuchet MS, Helvetica, sans-serif;
        font-size: 14px;
        cursor: pointer;
        padding: 10px;
}
#preview_share_template
{
        float: left;
        width: 60px;
        color: maroon;
        text-align: justify;
        font-family: Trebuchet MS, Helvetica, sans-serif;
        font-size: 13px;
        cursor: pointer;
        padding-left: 10px;
        padding-top: 10px;
}
#preview_remove_template
{
        float: right;
        width: 71px;
        color: maroon;
        text-align: justify;
        font-family: Trebuchet MS, Helvetica, sans-serif;
        font-size: 13px;
        cursor: pointer;
        padding-right: 10px;
        padding-top: 10px;
}
#section_view
{
        font-family: Trebuchet MS, Helvetica, sans-serif;
        font-size: 13px;
        font-weight: bold;
        color: #330033;
        padding: 10px;
}
.sec_views
{
        cursor: pointer;
        padding-left: 10px;
        padding-right: 10px;
}
#share
{
        font-family: Trebuchet MS, Helvetica, sans-serif;
        font-size: 13px;
        padding: 10px;
}
#share span
{
        font-weight: bold;
        color:blue;
		border-bottom:2px solid black ;
        cursor: pointer;
}
#share a
{
        text-decoration: none;
        color: maroon;
}
#share a:visited
{
        text-decoration: none;
}
#share a:hover
{
        text-decoration: underline;
        border: none;
}
#area_of_work
{
        padding: 10px;
        font-family: Trebuchet MS, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 13px;
}